#!/bin/bash

cd {{ app_work_dir }}

if [[ `git rev-parse @` != `git ls-remote origin -h refs/heads/{{ repo_version }} | cut -f1` ]]
then
    git pull

    pip install --no-cache-dir -r requirements.txt

    systemctl daemon-reload

    systemctl restart serviceTelegramBot

    systemctl restart serviceStocksMonitor

    systemctl restart serviceNotificationMonitor
    
    date=$(date '+%d/%m/%Y %H:%M:%S');
    echo "Updated local {{ repo_version }} branch at: $date"
fi