#!/bin/bash

cd {{ app_work_dir }}

if ! [[ `git log --pretty=%H ...refs/heads/master^` = `git ls-remote origin -h refs/heads/master | cut -f1` ]]
then
    git pull

    pip install --no-cache-dir -r requirements.txt

    systemctl daemon-reload

    systemctl restart serviceTelegramBot

    systemctl restart serviceStocksMonitor

    systemctl restart serviceNotificationMonitor
    
    date=$(date '+%d/%m/%Y %H:%M:%S');
    echo "Updated local master branch at: $date"
fi